main {
  min-height: 100vh;
  background: rgb(221, 181, 58);
  background: linear-gradient(
    90deg,
    rgba(221, 181, 58, 1) 0%,
    rgba(231, 229, 26, 1) 35%,
    rgba(0, 255, 252, 1) 100%
  );
}

#todo-main {
  display: flex;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  margin: 20px 0px 60px 0px;
}

#user-input {
  height: 2rem;
  width: 25rem;
  font-size: medium;
}

#add-btn {
  height: 2rem;
  width: 5rem;
  margin-left: 10px;
}

.todo-list li {
  list-style: none;
}
